* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    text-decoration: underline;
}

.home h1 {
    text-align: center;
    /*border: 2px solid red;*/
    margin-bottom: 100px;
}

/*ul {
    border: 2px solid blue;
}*/
