* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    /*border: 2px solid red;*/
    background-color: #f0c3b2;    
}

h1 {
    font-size: 40px;
    text-transform: uppercase;
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: white;
    color: #f0c3b2;
}

h2 {
    font-size: 28px;
    text-decoration: underline;
    text-transform: lowercase;
    color: white;
}

h3 {
    text-transform: lowercase;
    color: white;
}

p {
    padding: 10px;

    background-color: white;
    color: #f0c3b2;
}

li {
    color: white;
}

img {
    border: 5px dashed white;
}

/* HOME */

body.home {
    background-color: #f0c3b2;    
}

.home h1 {
    text-align: center;
    margin-bottom: 100px;
}

.home h2 {
    width: 25%;
    margin: 0 auto;
    padding: 2px;

    text-align: center;
    text-decoration: none;
}

.links {
    width: 25%;
    margin: 0 auto;
    padding: 2px 0px;
}

.links > li {
    margin: 0px;
    border-top: 2px solid #f0c3b2;
    border-bottom: 2px solid #f0c3b2;
    list-style: none;
}

.links a {
    display: block;
    padding:10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color: #f0c3b2;
}

.links > li:hover {
    border: 2px solid white;
    margin: 0px -5px;
}

.links a:hover {
    background-color: #f0c3b2;
    color: white;
}
